<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_1.xsd"
         version="3.0">
    <display-name>Cinefile</display-name>
    <error-page>
        <error-code>404</error-code>
        <location>/jsp/error/error.jsp</location>
    </error-page>
    <error-page>
        <exception-type>java.lang.RuntimeException</exception-type>
        <location>/jsp/error/error.jsp</location>
    </error-page>
    <error-page>
        <exception-type>com.epam.web.exception.NoSuchPageException</exception-type>
        <location>/jsp/error/error.jsp</location>
    </error-page>
    <context-param>
        <param-name>javax.servlet.jsp.jstl.fmt.localizationContext</param-name>
        <param-value>localization.locale</param-value>
    </context-param>
    <jsp-config>
        <taglib>
            <taglib-uri>customtags</taglib-uri>
            <taglib-location>/WEB-INF/tld/custom.tld</taglib-location>
        </taglib>
    </jsp-config>
</web-app>
